<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Translator</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='translator.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<h1>Work in Progress!</h1>
<br><br>
<!-- <TEXTAREA name="bigBox1" rows=10 cols=55></TEXTAREA> -->
</body>